<!DOCTYPE html>
<html class="careguide careguide/root" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="//d3c1grj748hoip.cloudfront.net/assets/careguide-corp-52122eb4f9e9e8fc178118f137a19fe4b829c183210d6c39ec2299ef42ad6e08.css" media="screen" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-cg-corporate navbar-fixed-top" role="navigation">
<%= link_to 'BLOG', articles_path %> | <%= link_to 'ABOUT', about_path %>
</nav>

<div class="row-centered">
<div class="hero">
<div class="hero-content-wrapper">
<div class="hero-content">
<h1>Helping You Find a</h1>
<div class="rw-words rw-words-1">
<span class="cn-word">Mario</span>
<span class="sitter-word">Yoshi</span>
<span class="housekeeper-word">Luigi</span>
<span class="petsitter-word">Bowser</span>
<span class="eldercare-word">Peach</span>
<span class="housesitter-word">Mushroom</span>
</div>
<div class="graphic">
<img alt="Provider graphic" src="http://farm4.staticflickr.com/3517/3275885987_c7d7c7b12c.jpg" />
</div>
</div>
</div>
</div>

</div>


</body>
</html>
