<!DOCTYPE html>
<html class="careguide careguide/root" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CareGuide - Find the perfect babysitter, nanny, elder care provider, pet sitter, dog walker, housekeeper, or house sitter.</title>
<link href="https://careguide.com" rel="canonical">
<meta content="CareGuide is a family of online marketplaces for senior care, child care, pet care, and home care services." name="description">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
<meta content="D183BCEAA80D3E3C946FC37965D2BC0A" name="msvalidate.01">
<link href="//d3c1grj748hoip.cloudfront.net/assets/careguide-corp-52122eb4f9e9e8fc178118f137a19fe4b829c183210d6c39ec2299ef42ad6e08.css" media="screen" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//d3c1grj748hoip.cloudfront.net/assets/branding/tash/favicons/care-guide-favicon-4b10cc6763e64e14098dc5d28eaa29ba1a780c821088779b4b082d99f530f960.ico" rel="shortcut icon">
<meta content="authenticity_token" name="csrf-param" />
<meta content="d5RUNigmTYAjaEPBpzmXojLW9GnyNT6Eo6deESbD77A=" name="csrf-token" />
<link href="https://plus.google.com/106559153289368952882" rel="publisher">

</head>
<body id="careguide-corp">
<nav class="navbar navbar-cg-corporate navbar-fixed-top" role="navigation">
<div class="container">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
<a href="/"><div id="logo"></div>
</a></div>
<div class="col-sm-9 col-md-9 col-lg-9">
<div class="navbar-header">
<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav navbar-right">
<li>
<li><a href="about">About</a></li>
</li>
<li>
<li><a href="/acquisitions/new">Acquisitions</a></li>
</li>
<li>
<li><a href="/team">Team</a></li>
</li>
<li>
<li><a href="/blog">Blog</a></li>
</li>
<li>
<li><a href="/contact">Contact</a></li>
</li>
</ul>
</div>
</div>
</div>
</div>
<%= link_to 'ABOUT', about_path %>
</nav>

<div class="row-centered">
<div class="hero">
<div class="hero-content-wrapper">
<div class="hero-content">
<h1>Helping You Find a</h1>
<div class="rw-words rw-words-1">
<span class="cn-word">Mario</span>
<span class="sitter-word">Yoshi</span>
<span class="housekeeper-word">Luigi</span>
<span class="petsitter-word">Bowser</span>
<span class="eldercare-word">Peach</span>
<span class="housesitter-word">Mushroom</span>
</div>
<div class="graphic">
<img alt="Provider graphic" src="http://farm4.staticflickr.com/3517/3275885987_c7d7c7b12c.jpg" />
</div>
</div>
</div>
</div>

<div class="container">
<section id="about">
<div class="row row-centered">
<div class="col-xs-10 col-sm-10 col-md-9 col-lg-7 col-centered">
<div class="heading">About</div>
<h2>Improving Access to Care Services</h2>
<p class="intro">Seeking a caregiver can be a daunting task, but we're here to make things easier. Whether it's a <a href="https://canadiannanny.ca" target="_blank" title="CanadianNanny.ca">nanny</a>, <a href="https://Sitter.com" target="_blank" title="Sitter.com">babysitter</a>, <a href="https://housekeeper.com" target="_blank" title="Housekeeper.com">housekeeper</a>, <a href="https://PetSitter.com" target="_blank" title="PetSitter.com">pet sitter</a>, <a href="https://eldercare.com" target="_blank" title="ElderCare.com">elder care provider</a>, or <a href="https://housesitter.com" target="_blank" title="HouseSitter.com">house sitter</a>, our network will guide you in finding a service provider that matches your needs right down to their exact skillset.</p>
</div>
</div>
</section>
<section id="how-it-works">
<h2>Here&#8217;s How it Works</h2>
<div class="row">
<div class="col-xs-12 col-sm-6">
<img alt="Locate a Provider Using Our Directory" class="neighborhood" height="400px" src="//d3c1grj748hoip.cloudfront.net/assets/corporate/neighborhood-6b89c4e27d0795dcd6c72b9bee680491e6d8c70d00e8f22b77eadaa97c4a4702.svg" title="Locate a Provider Using Our Directory" width="400px" />
</div>
<div class="col-xs-12 col-sm-6">
<div class="step-bucket" id="search">
<div class="heading">Step 1</div>
<h3>
Locate a Provider Using Our Directory
</h3>
<p>
Filter your results based on experience or services offered. Whatever the desired skill, we'll help you find a provider.
</p>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6 col-sm-push-6">
<img alt="Vector user" class="vector-user" height="400px" src="//d3c1grj748hoip.cloudfront.net/assets/corporate/vector-user-40cb4597cf4673612c038c79745f7f63774f37177f3478ce4563ad9b37a1af2d.svg" width="400px" />
</div>
<div class="col-xs-12 col-sm-6 col-sm-pull-6">
<div class="step-bucket" id="engage">
<div class="heading">Step 2</div>
<h3>
Call With
<br>Your Matches</br>
</h3>
<p>
Reach out to potential hires through our platform by instant messaging or by phone call.
</p>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6">
<img alt="Provider card" class="provider-card" height="400px" src="//d3c1grj748hoip.cloudfront.net/assets/corporate/provider-card-7621aa281d5856ed348d48b84647d8d6cf9311af392f630354b6d8dc1bd503b0.svg" width="400px" />
</div>
<div class="col-xs-12 col-sm-6">
<div class="step-bucket" id="hire">
<div class="heading">Step 3</div>
<h3>
Shortlist Your Favorites and Hire
</h3>
<p>
Narrow down your results and hire the candidate who stands out. Voilà!
</p>
</div>
</div>
</div>
<div class="row row-centered">
<div class="col-xs-12 col-sm-5 col-centered">
<a class="btn" href="/about">Learn More</a>
</div>
</div>
</section>
<section id="features">
<div class="row">
<div class="col-xs-12 col-sm-12 col-centered">
<h2>Product Features</h2>
<p class="intro">Making your search for the right care simpler.</p>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-9 col-md-7 col-lg-6 col-centered">
<div class="features-wrapper">
<ul id="feature-list">
<li class="list-item favorites">
<h5>Favorite Users</h5>
Set apart the users who stand out to help you shortlist the candidates you want to connect with.
</li>
<li class="list-item notes">
<h5>Write Notes</h5>
Keep private notes on user profiles to remember special details about communications or interviews you've had with them.
</li>
<li class="list-item telesafe">
<h5>Make Safe Phone Calls</h5>
Our proprietary system TELESAFE, allows you to communicate with users safely while protecting your identity.
</li>
<li class="list-item support">
<h5>Convenient Customer Support</h5>
Our dedicated support team will ensure all your questions are answered.
<br>
<a href="https://help.careguide.com">Learn More</a>
</li>
</ul>
</div>
</div>
</div>
</section>
<section id="testimonials">
<div class="row row-centered">
<div class="col-xs-12">
<h2>What Others Are Saying</h2>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-10 col-md-10 col-lg-12 col-centered">
<div class="row">
<div class="col-xs-12 col-sm-6">
<div class="testimonial-block" id="sitter">
<span class="quote">
<img alt="Quotes sitter" height="25px" src="//d3c1grj748hoip.cloudfront.net/assets/corporate/quotes-sitter-79211b4862a0bfecbe8c304084ba5c1dec6116f89b377d876a793e55c98f3ff1.svg" width="25px" />
</span>
<span>Sitter.com</span>
<p>It was really easy to find a nanny for our kids on Sitter.com. Within days of posting we had 5+ great applicants. We hired Alma, who's been with us for nearly 3 years now and is a part of our family.</p>
<p class="small">– Jessica, Toronto, ON</p>
<span class="logo-badge"></span>
</div>
</div>
<div class="col-xs-12 col-sm-6">
<div class="testimonial-block" id="cn">
<span class="quote">
<img alt="Quotes nanny" height="25px" src="//d3c1grj748hoip.cloudfront.net/assets/corporate/quotes-nanny-113e50a3bf76014a2ba67ece461eb0311a96e9eccd0ddaf70dac7823f7fd7755.svg" width="25px" />
</span>
<span>CanadianNanny.ca</span>
<p>My husband and I wanted you to know that we have found a great part-time nanny for our daughter. We wish to thank you for the assistance we needed to find that right person.</p>
<p class="small">– Cinthia and Kevin, Keene, ON</p>
<span class="logo-badge"></span>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
<section id="safe-communities">
We Work Hard to Build Safe Communities
</section>

<table id="colorbar">
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</table>
<div class="footer hidden-print">
<section id="care-providers">
<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h3>
Meet Our Family of Care Providers
</h3>
<ul class="big-six">
<li>
<a class="nanny" href="https://CanadianNanny.ca" target="_blank" title="CanadianNanny.ca">CanadianNanny.ca</a>
</li>
<li>
<a class="sitter" href="https://Sitter.com" target="_blank" title="Sitter.com">Sitter.com</a>
</li>
<li>
<a class="housekeeper" href="https://Housekeeper.com" target="_blank" title="Housekeeper.com">Housekeeper.com</a>
</li>
<li>
<a class="petsitter" href="https://Petsitter.com" target="_blank" title="PetSitter.com">PetSitter.com</a>
</li>
<li>
<a class="eldercare" href="https://ElderCare.com" target="_blank" title="ElderCare.com">ElderCare.com</a>
</li>
<li>
<a class="housesitter" href="https://HouseSitter.com" target="_blank" title="HouseSitter.com">HouseSitter.com</a>
</li>
<li>
<a class="childcare" href="https://ChildCareAdvantage.com" target="_blank" title="ChildCareAdvantage.com">ChildCareAdvantage.com</a>
</li>
<li>
<a class="careprovider" href="https://CareProvider.com" target="_blank" title="CareProvider.com">CareProvider.com</a>
</li>
</ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
<ul class="meeta">
<li>
<a href="https://MeetAnAccountant.com" target="_blank" title="MeetAnAccountant.com">MeetAnAccountant.com</a>
</li>
<li>
<a href="https://MeetACarpenter.com" target="_blank" title="MeetACarpenter.com">MeetACarpenter.com</a>
</li>
<li>
<a href="https://MeetAChef.com" target="_blank" title="MeetAChef.com">MeetAChef.com</a>
</li>
<li>
<a href="https://MeetAnElectrician.com" target="_blank" title="MeetAnElectrician.com">MeetAnElectrician.com</a>
</li>
<li>
<a href="https://MeetAnEngineer.com" target="_blank" title="MeetAnEngineer.com">MeetAnEngineer.com</a>
</li>
<li>
<a href="https://MeetAGardener.com" target="_blank" title="MeetAGardener.com">MeetAGardener.com</a>
</li>
</ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
<ul class="meeta">
<li>
<a href="https://MeetAHandyman.com" target="_blank" title="MeetAHandyman.com">MeetAHandyman.com</a>
</li>
<li>
<a href="https://MeetALandscaper.com" target="_blank" title="MeetALandscaper.com">MeetALandscaper.com</a>
</li>
<li>
<a href="https://MeetAMechanic.com" target="_blank" title="MeetAMechanic.com">MeetAMechanic.com</a>
</li>
<li>
<a href="https://MeetAPainter.com" target="_blank" title="MeetAPainter.com">MeetAPainter.com</a>
</li>
<li>
<a href="https://MeetAPhotographer.com" target="_blank" title="MeetAPhotographer.com">MeetAPhotographer.com</a>
</li>
<li>
<a href="https://MeetAPlumber.com" target="_blank" title="MeetAPlumber.com">MeetAPlumber.com</a>
</li>
</ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
<ul class="meeta">
<li>
<a href="https://MeetAProgrammer.com" target="_blank" title="MeetAProgrammer.com">MeetAProgrammer.com</a>
</li>
<li>
<a href="https://MeetARenovator.com" target="_blank" title="MeetARenovator.com">MeetARenovator.com</a>
</li>
<li>
<a href="https://MeetARoofer.com" target="_blank" title="MeetARoofer.com">MeetARoofer.com</a>
</li>
<li>
<a href="https://MeetASalesman.com" target="_blank" title="MeetASalesman.com">MeetASalesman.com</a>
</li>
<li>
<a href="https://MeetASecurityGuard.com" target="_blank" title="MeetASecurityGuard.com">MeetASecurityGuard.com</a>
</li>
</ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
<ul class="meeta">
<li>
<a href="https://MeetATruckDriver.com" target="_blank" title="MeetATruckDriver.com">MeetATruckDriver.com</a>
</li>
<li>
<a href="https://MeetATutor.com" target="_blank" title="MeetATutor.com">MeetATutor.com</a>
</li>
<li>
<a href="https://MeetAVideographer.com" target="_blank" title="MeetAVideographer.com">MeetAVideographer.com</a>
</li>
<li>
<a href="https://MeetAWebDeveloper.com" target="_blank" title="MeetAWebDeveloper.com">MeetAWebDeveloper.com</a>
</li>
<li>
<a href="https://MeetAWriter.com" target="_blank" title="MeetAWriter.com">MeetAWriter.com</a>
</li>
</ul>
</div>
</div>
</div>
</section>

<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="row">
<div class="bottom-footer-wrap">
<div class="col-xs-12 col-sm-2 col-sm-push-3">
<h6>Contact</h6>
<ul>
<li>
<li class="email-address">
<a href="mailto:info@careguide.com">info@careguide.com</a>
</li>
</li>
<li>
1100 – 119 Spadina Ave
<br>
Toronto, ON
<br>
M5V 2L1
</br>
</li>
</ul>
</div>
<div class="col-xs-12 col-sm-2 col-sm-push-4">
<h6>
Payroll Services
</h6>
<ul>
<li>
<a href="https://www.heartpayroll.com/home" target="_blank">Nanny Tax &amp; Payroll Services</a>
</li>
</ul>
</div>
<div class="col-xs-12 col-sm-2 col-sm-push-4">
<h6>Company</h6>
<ul>
<li>
<li><a href="/branding">Branding</a></li>
</li>
<li>
<li><a href="/engineering">Engineering</a></li>
</li>
<li>
<li><a href="/investors">Investors</a></li>
</li>
<li>
<li><a href="/press">Press</a></li>
</li>
</ul>

</div>
<div class="col-xs-12 col-sm-2 col-sm-push-4">
<h6>
Social
</h6>
<ul>
<li>
<a class="footer-link" href="/blog">Blog</a>
</li>
<li>
<a class="footer-link" href="https://www.twitter.com/careguide" target="_blank">Twitter</a>
</li>
<li>
<a class="footer-link" href="https://www.facebook.com/careguide" target="_blank">Facebook</a>
</li>
<li>
<a class="footer-link" href="http://linkedin.com/company/careguide" target="_blank">Linkedin</a>
</li>
<li>
<a class="footer-social-icon" href="https://angel.co/careguide" target="_blank" title="AngelList">AngelList</a>
</li>
<li>
<a href="https://www.glassdoor.com/Overview/Working-at-CareGuide-EI_IE6173.11,20.htm" target="_blank" title="Glassdoor">Glassdoor</a>
</li>
</ul>
</div>
<div class="col-xs-12 col-sm-3 col-sm-pull-8 terms-bucket">
<a href="https://careguide.com"><img alt="CareGuide" class="footer-logo-tagline" src="//d3c1grj748hoip.cloudfront.net/assets/branding/tash/logos/logo_careguide-tagline_RGB-c8f9c27c8adf4221e17375cab5e7506e81a053dd8c28b5c65ee6ba3cefa46678.svg" title="CareGuide" /></a>
<li><a href="/privacy">Privacy Policy</a></li>
&middot;
<li><a href="/terms-of-service">Terms of Service</a></li>
<div class="copyright">
&copy; 2017 <a href="https://careguide.com/">CareGuide Inc.</a>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-12">
<img alt="Icon cg heart" class="cg-heart-footer" src="//d3c1grj748hoip.cloudfront.net/assets/corporate/icon-cg-heart-e37ed989a794e7bfae464370a4143ff850294cada0493053da4e4052b5c2b8dc.svg" title="Made with Love" />
</div>
</div>
</div>
</div>
</div>
</div>


</body>
</html>
